/*header style*/

#MO{
  display: none;
}


/*전체 영역*/
section.main {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

/*실제내용영역*/
div.container {
  margin: 0 auto;
  width: 100%;
}



/*footer*/
footer {
  background: #fff;
}
footer div.footer_content {
  padding: 0rem 1.4rem 0 1.4rem;
}

/*b_footer*/
footer div.footer_content div.b_footer {
  float: left;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
}



/* index 시작*/
section.index01 {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 650px;
  background: #fff;
}

section.index01 div.cont01_txt {
  position: relative;
  width: 50%;
  float: left;
  

}

section.index01 img.cont01_img {
  width: 50%;

  top: 0;
  right: 0;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

