@charset "utf-8";

/*추가 가변 속성 처리
img,video {max-width: 100%;height: auto;}
video {min-width: 100%;}*/
@media all and (min-width: 1445px) {
  html {
    font-size: 16px !important;
  }
  section.index01 img.cont01_img {
    animation-duration: 3s;
  }

  section.index02 img.cont02_img {
    width: 100%;
   
    top: 0%;
    left: 0;
  }
}



@media all and (max-width: 768px) {

  #PC{display: none;}
  #MO{ display: block;}
  html {
    font-size: 12px !important;
  }
  footer div.footer_content div.b_footer{
    font-size: 11px;
  }

}
